menu "App Configuration"

    config APP_WIFI_MAX_CLIENT
        int "AP mode maximum client allowed to connect"
        default 5
        help
            Set the Maximum retry to avoid station reconnecting to the AP unlimited when the AP is really inexistent.

    config APP_WIFI_MAX_RETRY
        int "STA mode connect maximum retry"
        default 5
        help
            Set the Maximum retry to avoid station reconnecting to the AP unlimited when the AP is really inexistent.
    
    config APP_WIFI_ACTION_TIMEOUT
        int "Wifi Action Timeout"
        default 10000
        help
            Default timeout on Wifi operation

    config APP_WITH_SENSOR
        bool "With Sensor"
        default y
        help
            Include sensor functions

    config APP_WITH_COMMANDS
        bool "With Serial Terminal"
        default y
        help
            Include terminal functions via UART
    config APP_ESP01_SUPPORT
        bool "For ESP01"
        default n
        help
            Switch GPIO to ESP01

endmenu